.SignUpBlock {
    text-align: center;
    padding: 1%;
    margin-top: 5%;
    height: 25px;
}

.RegisterBTN {
    margin-top: 2%;
    width: 25%;
    height: 25px;
    margin-top: 5%;
}

.SignUpMain {
    background-image: url(../../../assets/fon-company.jpg);
    padding: 15%;
    text-align: center;
}

.passwordINP {
    width: 25%;
    height: 25px;
}

.loginINP {
    width: 25%;
    height: 25px;
}

.SignWindow {
    border: none;
    height: 350px;
    width: 100%;
    margin: auto;
    border-radius: 30px;
}

/*.RegisterBTN:hover {*/
/*    background-color: green;*/
/*    transition: 1s;*/
/*    box-shadow: inset 0 0 0 23px #53ea93;*/
/*    -webkit-transform: scale(1.1);*/
/*    -ms-transform: scale(1.1);*/
/*    transform: scale(1.1);*/
/*}*/

.empty {
    color: red;
}

.NoEmpty {
    color: green;
}

.BackLinkBlock {
    margin-top: 5%;
}

.Back:hover {
    background-color: #9f111b;
    transition: 1s;
    box-shadow: inset 0 0 0 23px #9f111b;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.Back {
    font-size: 18px;
}

.BlockError {
    color: red;
}

.mainINP {
    display: flex;
    width: 100%;
    margin-left: 19%;
}
  