.SignUpBlock {
  text-align: center;
  align-items: center;
  padding: 1%;
  margin-top: 60px;
  height: 25px;
}

.RegisterBTN {
  margin-top: 100px;
  width: 25%;
  height: 25px;
}

.NotRegisterBTN {
  margin-top: 100px;
  width: 25%;
  height: 25px;
}

.SignInMain {
   background-image: url(https://s1.1zoom.ru/big0/169/Lamborghini_2021_Aventador_LP_780-4_Ultimae_Silver_608205_1280x853.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 800px;
  margin: auto;
  margin-top: 75px;
  text-align: center;
}

.passwordINP {
  margin-top: 50px;
  width: 25%;
  height: 25px;
}

.loginINP {
  width: 25%;
  height: 25px;
}

.SignWindow {
  height: 800px;
  width: 60%;
}

.RegisterBTN:hover {
  background-color: green;
  transition: 1s;
  box-shadow: inset 0 0 0 23px #53ea93;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.NotRegisterBTN:hover {
  transition: 1s;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.empty {
  color: red;
}

.NoEmpty {
  color: green;
}

.BackLinkBlock {
  margin-top: 25px;
}

.Back:hover {
  background-color: #007eff;
  transition: 1s;
  box-shadow: inset 0 0 0 23px #007eff;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.Back {
  font-size: 18px;
}

.BlockError {
  color: red;
}

.mainINP {
  display: flex;
  width: 100%;
  margin-left: 15.7%;
}

.input__wrapper {
  text-align: center;
  padding: 1%;
  margin-top: 5%;
  height: 25px;
}

.SignUpWindow {
  height: 650px;
  width: 60%;
  margin: auto;
  background-color: whitesmoke;
  opacity: 0.9;
}

.passwordIcon {
  width: 75px;
  height: 60px;
}

.loginIcon {
  width: 60px;
  height: 55px;
}
