header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  list-style: none;
  position: fixed;
  padding: 5px 20px;
  align-items: center;
  background-color: #000000e6;
}

.logo{
  width: 250px; /* стиль для лого  */
}

.center-nav{
  display: flex;   /*    стиль для центральной навигации     */
  list-style: none;
  flex: 1;
  margin-left: 100px;
  font-size: 19px;
  justify-content: space-between;
}
.center-nav span{
  color: #9f111b;
  width: 45%;
  display: flex;   /*   стиль для того чтобы дать ширину центральной навигации   */
  justify-content: space-between;
}
.center-nav a{
  text-decoration: none;
  color: #9f111b;
}
.center-nav li{
  padding: 5px 15px;
  border: 1px solid #9f111b;
}
.center-nav li a:hover{
  color: white;
}

.center-nav li:hover{
  background-color: #9f111b;
  color: white;
}


.right-nav{
  color: #9f111b; /*    стиль для центральной навигации     */
}
.right-nav a{
  padding: 5px 15px;
  border: 1px solid #9f111b;
  text-decoration: none;
  color: #9f111b;
}
.right-nav a:hover{
  background-color: #9f111b;
  color: white;
}
