.sevice-main {

}

.sevice_container {
    width: 1000px;
    margin: 100px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}

.srvice_services{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
}

.service_image img {
    width: 100%;
}

.service_cart {
    margin-top: 30px;
    width: 400px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 black;
}

.sevice_btn {
 text-decoration: none;
}