.main{
}
.video{
  text-align: center;
}
.video button{
  margin-top: 35%;
  padding: 20px;
  font-size: 35px;
  background-color: #9f111b;
  border: 1px solid #9f111b;
  color: white;
  width: 800px;
}
.video button:hover{
  background-color: white;
  color: #9f111b;
  transition: 0.5s;
}
.bgvideo {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 60%;
  width: auto;
  height: auto;
  z-index: -9999;
}
/*     на верху стили для header'a          */


/*     начинаются стили для content'a        */
.content-cars{
  width: 1000px;
  margin: auto;
  margin-top: 13%;
}