.main{
}
.video{
  text-align: center;
}
.video button{
  margin-top: 35%;
  padding: 20px;
  font-size: 35px;
  background-color: rgb(43 43 43 / 48%);
  border: 1px solid white;
  color: white;
  width: 800px;
  border-radius: 10px;
}
.video button:hover{
  background-color: rgb(10, 10, 10);
  color: white;
  transition: 0.5s;
}
.bgvideo {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 60%;
  width: auto;
  height: auto;
  z-index: -9999;
}
/*     на верху стили для header'a          */


/*     начинаются стили для content'a        */
.content-cars{
  width: 1000px;
  margin: auto;
  margin-top: 13%;
}